./results_in_papers/ECIR2023/Table_1/* linguist-language=Python
./results_in_papers/SIGIR2023/Table_3/* linguist-language=Python
./results_in_papers/SIGIR2023/Table_4/* linguist-language=Python
./results_in_papers/SIGIR2023/Table_5/* linguist-language=Python